<h1>Edit Repositoriy</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.repositoriy_path(@conn, :update, @repositoriy)) %>

<span><%= link "Back", to: Routes.repositoriy_path(@conn, :index) %></span>
